[submodule "cookbooks/rbenv"]
	path = cookbooks/rbenv
	url = git://github.com/fnichol/chef-rbenv.git
[submodule "cookbooks/ruby_build"]
	path = cookbooks/ruby_build
	url = git://github.com/fnichol/chef-ruby_build.git
